@media only screen and (max-width:900px){
    html {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.4rem;
    }


    form {
        width: 100%;
    }

    input[type=text], input[type=number], input[type=email], select {
        width: 69%;
    }

}

@media only screen and (max-width:900px){

    .input-group label:first-child {
        width: 100%;
    }


    input[type=text], input[type=number], input[type=email], select {
        width: 100%;
    }


}